<p id="notice"><%= notice %></p>

<div class="show-content">
  <div>
    <%= image_tag @book.picture, class: "show-img-top" if @book.picture.attached? %>
  </div>

  <div class="book-info">
    <h4><%= @book.title.upcase %></h4>
    <p>By <%= @book.author.name %></p>
    <p>Format: <%= @book.format %></p>
    <br>
    <div class="book-description col-md-7 order-md-2">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias inventore adipisci eligendi excepturi quod. Fugiat nihil culpa, quis minima magni recusandae esse aliquid optio, expedita aspernatur deserunt earum perferendis repellendus!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias inventore adipisci eligendi excepturi quod. Fugiat nihil culpa, quis minima magni recusandae esse aliquid optio, expedita aspernatur deserunt earum perferendis repellendus!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias inventore adipisci eligendi excepturi quod. Fugiat nihil culpa, quis minima magni recusandae esse aliquid optio, expedita aspernatur deserunt earum perferendis repellendus!
      </p>
    </div>
  </div>

  <div class="basket">
    <%= link_to "Add to Basket", books_path, class: "btn btn-primary" %>
  </div>
</div>